# Frontend
VITE_APP_NAME=RRHH Grupo Mendoza
VITE_API_BASE_URL=http://localhost:8080/api/v1

# Database
POSTGRES_DB=rrhh
POSTGRES_USER=rrhh
POSTGRES_PASSWORD=rrhh123

# Backend
APP_CORS_ALLOWED_ORIGIN=http://localhost:5173
APP_JWT_SECRET=change-this-secret-key-with-at-least-thirty-two-chars
APP_JWT_EXPIRATION_MS=86400000
APP_SEED_ADMIN_FULL_NAME=Administrador Sprint 0
APP_SEED_ADMIN_EMAIL=admin@grupomendoza.com
APP_SEED_ADMIN_PASSWORD=Admin12345!
